@charset "UTF-8";

/* Izgara özellikleri */
$grid-columns: 16;
$grid-gutter: 30px;

/* Seçiciler */
$selector-visible: "visible";
$selector-hidden: "hidden";
$selector-push: "push";
$selector-pull: "pull";
$selector-offset: "offset";
$selector-row: "row";
$selector-column: "col";
$selector-mobile: "mb";
$selector-tablet: "tb";
$selector-computer: "cm";
$selector-largescreen: "lg";
$selector-widescreen: "wd";
$selector-mobileDevices: "md";
$selector-personalComputers: "pc";
$selector-allDevices: "ad";

/* Ekran çözünürlükleri */
$screen-mobile-max: 767px;
$screen-tablet-min: 768px;
$screen-tablet-max: 991px;
$screen-computer-min: 992px;
$screen-computer-max: 1199px;
$screen-largescreen-min: 1200px;
$screen-largescreen-max: 1919px;
$screen-widescreen-min: 1920px;

/* .col sınıflarını biriktirmek için $class-column isminde bir değişken oluşturuyoruz */
$class-column: ".#{$selector-column}-#{$selector-mobile}-1, \
				.#{$selector-column}-#{$selector-tablet}-1, \
				.#{$selector-column}-#{$selector-computer}-1, \
				.#{$selector-column}-#{$selector-largescreen}-1, \
				.#{$selector-column}-#{$selector-widescreen}-1, \
				.#{$selector-column}-#{$selector-mobileDevices}-1, \
				.#{$selector-column}-#{$selector-personalComputers}-1, \
				.#{$selector-column}-#{$selector-allDevices}-1";

/* .visible sınıflarını biriktirmek için $class-visible isminde bir değişken oluşturuyoruz */
$class-visible: ".#{$selector-visible}-#{$selector-mobile}, \
				.#{$selector-visible}-#{$selector-tablet}, \
				.#{$selector-visible}-#{$selector-computer}, \
				.#{$selector-visible}-#{$selector-largescreen}, \
				.#{$selector-visible}-#{$selector-widescreen}, \
				.#{$selector-visible}-#{$selector-mobileDevices}, \
				.#{$selector-visible}-#{$selector-personalComputers}, \
				.#{$selector-visible}-#{$selector-allDevices}";

/* .hidden sınıflarını biriktirmek için $class-hidden isminde bir değişken oluşturuyoruz */
$class-hidden: ".#{$selector-hidden}-#{$selector-mobile}, \
				.#{$selector-hidden}-#{$selector-tablet}, \
				.#{$selector-hidden}-#{$selector-computer}, \
				.#{$selector-hidden}-#{$selector-largescreen}, \
				.#{$selector-hidden}-#{$selector-widescreen}, \
				.#{$selector-hidden}-#{$selector-mobileDevices}, \
				.#{$selector-hidden}-#{$selector-personalComputers}, \
				.#{$selector-hidden}-#{$selector-allDevices}";

/* $grid-columns kadar bir for döngüsü oluşturuyoruz */
@for $i from 2 through $grid-columns {

	/* Her döngüde $class-column değişkeninin üzerine yeni verileri ekliyoruz */
	$class-column: "#{$class-column}, \
					.#{$selector-column}-#{$selector-mobile}-#{$i}, \
					.#{$selector-column}-#{$selector-tablet}-#{$i}, \
					.#{$selector-column}-#{$selector-computer}-#{$i}, \
					.#{$selector-column}-#{$selector-largescreen}-#{$i}, \
					.#{$selector-column}-#{$selector-widescreen}-#{$i}, \
					.#{$selector-column}-#{$selector-mobileDevices}-#{$i}, \
					.#{$selector-column}-#{$selector-personalComputers}-#{$i}, \
					.#{$selector-column}-#{$selector-allDevices}-#{$i}";

	/* Her döngüde $class-visible değişkeninin üzerine yeni verileri ekliyoruz */
	$class-visible: "#{$class-visible}, \
					.#{$selector-visible}-#{$selector-mobile}, \
					.#{$selector-visible}-#{$selector-tablet}, \
					.#{$selector-visible}-#{$selector-computer}, \
					.#{$selector-visible}-#{$selector-largescreen}, \
					.#{$selector-visible}-#{$selector-widescreen}, \
					.#{$selector-visible}-#{$selector-mobileDevices}, \
					.#{$selector-visible}-#{$selector-personalComputers}, \
					.#{$selector-visible}-#{$selector-allDevices}";

	/* Her döngüde $class-hidden değişkeninin üzerine yeni verileri ekliyoruz */
	$class-hidden: "#{$class-hidden}, \
					.#{$selector-hidden}-#{$selector-mobile}, \
					.#{$selector-hidden}-#{$selector-tablet}, \
					.#{$selector-hidden}-#{$selector-computer}, \
					.#{$selector-hidden}-#{$selector-largescreen}, \
					.#{$selector-hidden}-#{$selector-widescreen}, \
					.#{$selector-hidden}-#{$selector-mobileDevices}, \
					.#{$selector-hidden}-#{$selector-personalComputers}, \
					.#{$selector-hidden}-#{$selector-allDevices}";

}

/* Kolonlar için gerekli kapsayıcı satır */
.#{$selector-row} {

	margin-left: -($grid-gutter / 2);
	margin-right: -($grid-gutter / 2);

	/* Satıra istersek gutter kadar margin-top verebiliriz */
	&.mt {
		margin-top: $grid-gutter;
	}

	/* Satıra istersek gutter kadar margin-bottom verebiliriz */
	&.mb {
		margin-bottom: $grid-gutter;
	}

	/* Satırdan sonra float'u temizliyoruz */
	&:after {
		display: table;
		content: " ";
		clear: both;
	}

	/* For döngüsünde biriktirdiğimiz .col sınıflarını yazdırıyoruz */
	#{$class-column} {
		float: left;
		position: relative;
		padding-left: ($grid-gutter / 2);
		padding-right: ($grid-gutter / 2);
	}

}

/* For döngüsünde biriktirdiğimiz .visible sınıflarını yazdırıyoruz */
#{$class-visible} {
	display: none;
}

/* For döngüsünde biriktirdiğimiz .hidden sınıflarını yazdırıyoruz */
#{$class-hidden} {
	display: block;
}

/* Ekran çözünürlüklerini döngüye sokabilmek için dizi olarak kaydediyoruz */
$screenResolutions: ( "Mobile", $selector-mobile, nil, $screen-mobile-max ), 
					( "Tablet", $selector-tablet, $screen-tablet-min, $screen-tablet-max ), 
					( "Computer", $selector-computer, $screen-computer-min, $screen-computer-max ), 
					( "Largescreen", $selector-largescreen, $screen-largescreen-min, $screen-largescreen-max ), 
					( "Widescreen", $selector-widescreen, $screen-widescreen-min, nil ),
					( "Mobile devices", $selector-mobileDevices, nil, $screen-tablet-max ),
					( "Personal computers", $selector-personalComputers, $screen-computer-min, nil ),
					( "All devices", $selector-allDevices, 0, nil );

/* $screenResolutions döngüsü içinde media query'ler için koşullu ifade kullanamadığımızdan dolayı mixin oluşturuyoruz */
@mixin mediaQueryCreator( $min, $max ) {
	@if $min == nil {
		@media( max-width: $max ) {
			@content;
		}
	} @elseif $max == nil {
		@media( min-width: $min ) {
			@content;
		}
	} @else {
		@media( min-width: $min ) and ( max-width: $max ) {
			@content;
		}
	}
}

/* $screenResolutions değişkenini döngüye sokuyoruz */
@each $screen, $selector, $min, $max in $screenResolutions {

	/* #{$screen} */
	@include mediaQueryCreator( $min, $max ) {

		/* Kolon gizlemek için */
		.#{$selector-hidden}-#{$selector} {
			display: none;
		}

		/* Kolon göstermek için */
		.#{$selector-visible}-#{$selector} {
			display: block;
		}

		/* $grid-columns kadar bir for döngüsü oluşturuyoruz */
		@for $i from 1 through $grid-columns {

			/* Kolonlarımızı oluşturuyoruz */
			.#{$selector-column}-#{$selector}-#{$i} {
				width: 100% / $grid-columns * $i;
			}

			/* Kolon ittirme sınıflarımızı oluşturuyoruz */
			.#{$selector-column}-#{$selector}-#{$selector-push}-#{$i} {
				left: 100% / $grid-columns * $i;
			}

			/* Kolon çekme sınıflarımızı oluşturuyoruz */
			.#{$selector-column}-#{$selector}-#{$selector-pull}-#{$i} {
				right: 100% / $grid-columns * $i;
			}

			/* Kolon offset sınıflarımızı oluşturuyoruz */
			.#{$selector-column}-#{$selector}-#{$selector-offset}-#{$i} {
				margin-left: 100% / $grid-columns * $i;
			}

		}

	}

}
