/* Izgara özellikleri */
$grid-columns: 16;
$grid-gutter: 30px;

/* Seçiciler */
$selector-visible: "visible";
$selector-hidden: "hidden";
$selector-push: "push";
$selector-pull: "pull";
$selector-offset: "offset";
$selector-row: "row";
$selector-column: "col";
$selector-mobile: "mb";
$selector-tablet: "tb";
$selector-computer: "cm";
$selector-largescreen: "lg";
$selector-widescreen: "wd";
$selector-mobileDevices: "md";
$selector-personalComputers: "pc";
$selector-allDevices: "ad";

/* Ekran çözünürlükleri */
$screen-mobile-max: 767px;
$screen-tablet-min: 768px;
$screen-tablet-max: 991px;
$screen-computer-min: 992px;
$screen-computer-max: 1199px;
$screen-largescreen-min: 1200px;
$screen-largescreen-max: 1919px;
$screen-widescreen-min: 1920px;

/* Kolonlar için gerekli kapsayıcı satır */
.#{$selector-row} {

	margin-left: -($grid-gutter / 2);
	margin-right: -($grid-gutter / 2);

	/* Satıra istersek gutter kadar margin-top verebiliriz */
	&.mt {
		margin-top: $grid-gutter;
	}

	/* Satıra istersek gutter kadar margin-bottom verebiliriz */
	&.mb {
		margin-bottom: $grid-gutter;
	}

	/* Satırdan sonra float'u temizliyoruz */
	&:after {
		display: table;
		content: " ";
		clear: both;
	}

	/* Kolonları biriktirmek için $devices isminde bir değişken oluşturuyoruz */
	$devices: " .#{$selector-column}-#{$selector-mobile}-1, \
				.#{$selector-column}-#{$selector-tablet}-1, \
				.#{$selector-column}-#{$selector-computer}-1, \
				.#{$selector-column}-#{$selector-largescreen}-1, \
				.#{$selector-column}-#{$selector-widescreen}-1, \
				.#{$selector-column}-#{$selector-mobileDevices}-1, \
				.#{$selector-column}-#{$selector-personalComputers}-1, \
				.#{$selector-column}-#{$selector-allDevices}-1";

	/* $grid-columns kadar bir for döngüsü oluşturuyoruz */
	@for $i from 2 through $grid-columns {

		/* Her döngüde $devices değişkeninin üzerine yeni verileri ekliyoruz */
		$devices: " #{$devices}, \
					.#{$selector-column}-#{$selector-mobile}-#{$i}, \
					.#{$selector-column}-#{$selector-tablet}-#{$i}, \
					.#{$selector-column}-#{$selector-computer}-#{$i}, \
					.#{$selector-column}-#{$selector-largescreen}-#{$i}, \
					.#{$selector-column}-#{$selector-widescreen}-#{$i}, \
					.#{$selector-column}-#{$selector-mobileDevices}-#{$i}, \
					.#{$selector-column}-#{$selector-personalComputers}-#{$i}, \
					.#{$selector-column}-#{$selector-allDevices}-#{$i}";

	}

	/* For döngüsünde biriktirdiğimiz kolonlar */
	#{$devices} {
		float: left;
		padding-left: ($grid-gutter / 2);
		padding-right: ($grid-gutter / 2);
	}

}


/* Media query'ler */

/* Ekran çözünürlüklerini döngüye sokabilmek için dizi olarak kaydediyoruz */
$screenResolutions: ( "Mobile", $selector-mobile, nil, $screen-mobile-max ), 
					( "Tablet", $selector-tablet, $screen-tablet-min, $screen-tablet-max ), 
					( "Computer", $selector-computer, $screen-computer-min, $screen-computer-max ), 
					( "Largescreen", $selector-largescreen, $screen-largescreen-min, $screen-largescreen-max ), 
					( "Widescreen", $selector-widescreen, $screen-widescreen-min, nil ),
					( "Mobile devices", $selector-mobileDevices, nil, $screen-tablet-max ),
					( "Personal computers", $selector-personalComputers, $screen-computer-min, nil ),
					( "All devices", $selector-allDevices, 0, nil );

/* $screenResolutions döngüsü içinde media query'ler için koşullu ifade kullanamadığımızdan dolayı mixin oluşturuyoruz */
@mixin mediaQueryCreator( $min, $max ) {
	@if $min == nil {
		@media( max-width: $max ) {
			@content;
		}
	} @elseif $max == nil {
		@media( min-width: $min ) {
			@content;
		}
	} @else {
		@media( min-width: $min ) and ( max-width: $max ) {
			@content;
		}
	}
}

/* $screenResolutions değişkenini döngüye sokuyoruz */
@each $screen, $selector, $min, $max in $screenResolutions {

	/* #{$screen} */
	@include mediaQueryCreator( $min, $max ) {

		/* Kolon gizlemek için */
		.#{$selector-hidden}-#{$selector} {
			display: none;
		}

		/* Kolon göstermek için */
		.#{$selector-visible}-#{$selector} {
			display: block;
		}

		/* $grid-columns kadar bir for döngüsü oluşturuyoruz */
		@for $i from 1 through $grid-columns {

			/* Kolonlarımızı oluşturuyoruz */
			.#{$selector-column}-#{$selector}-#{$i} {
				width: 100% / $grid-columns * $i;
			}
		}

	}

}
